body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
    margin: -8px;
    padding: 0 10px;
    padding-left: 15px;
}

.header-list{
    display: flex;
    gap: 20px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
}

.outer-container{
    display: flex;
    margin: -8px;
    background-color: #1f2937;
    padding-bottom: 60px;
    justify-content: space-around;
    flex: 1;
}
.container{
    display: flex;
    flex-direction: column;
}

.container .title{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    padding: 40px 25px;
    padding-bottom: 0;
    max-width: 300px;
    padding-left: 130px;
}

.content{
    font-size: 18px;
    color: #e5e7eb;
    padding: 0px 25px;
    max-width: 300px;
    padding-left: 130px;
}

.button{
    padding: 0px 25px;
    padding-top: 5px;
    padding-left: 130px;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 25px;
    border-radius: 5px;
}

.img1{
    width: 500px;
    height: 200px;
    padding-right: 100px;
    padding-top: 50px;
}